<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit rental</title>
    <meta http-equiv="Content-Type" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, text/html, charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <h2>Edit rental</h2>
    </div>
    <div class="row" id="content">
        <form th:object="${rental}" th:action="@{../update-rental}" id="rentalForm" action="#" method="post">

            <div class="form-group">
                <label for="firstname">First name</label>
                <input type="text" class="form-control" id="firstname" name="firstName" th:field="*{firstName}" />
            </div>

            <div class="form-group">
                <label for="lastname">Last name</label>
                <input type="text" class="form-control" id="lastname" name="lastName" th:field="*{lastName}" />
            </div>

            <div class="form-group">
                <label for="phone">phone</label>
                <input type="text" class="form-control" id="phone" name="phone" th:field="*{phone}" />
            </div>

            <div class="form-group">
                <label for="email">email</label>
                <input type="text" class="form-control" id="email" name="email" th:field="*{email}" />
            </div>


            <div class="form-group">
                <label for="startday">Start day</label>
                <input type="date" id="startday" class="form-control" name="startDay"  th:field="*{startDay}"/>
            </div>

            <div class="form-group">
                <label for="endday">End day</label>
                <input type="date" id="endday" class="form-control" name="endDay" th:field="*{endDay}"/>
            </div>

            <div class="form-group">
                <label for="statuslist">Status</label>
                <select id="statuslist" th:field="*{status}" class="form-control">
                    <option th:each="statusname: ${statusnames}" th:value="${statusname.statusId}" th:text="${statusname.statusName}"></option>
                </select>
            </div>

            <div class="form-group">
                <input type="hidden" th:field="*{rentalId}" />
            </div>

            <input class="btn btn-primary" type="submit" value="Update"/>

        </form>
    </div>
    <div class="row" style="margin-top: 20px">
        <a href="/admin/home" class="btn btn-primary">Admin home</a>
    </div>
</div>
<script>
    jQuery.validator.addMethod("greaterThan",
        function(value, element, params) {
            if (!/Invalid|NaN/.test(new Date(value))) {
                return new Date(value) >= new Date($(params).val());
            }
            return isNaN(value) && isNaN($(params).val())
                || (Number(value) >= Number($(params).val()));
        },'Must be greater than {0}.');

    $("#rentalForm").validate({

        rules: {
            firstName:{
                required:true
            },
            lastName:{
                required:true
            },
            email:{
                required:true,
                email: true
            },
            startDay:{
                required:true
            },
            endDay:{
                required:true,
                greaterThan: "#startday"
            }
        },
        messages: {
            firstName: "Please enter your first name.",
            lastName: "Please enter your last name.",
            email:
                {
                    required: "Please enter your email.",
                    email: "Please enter valid email address"
                },
            startDay:"Please enter rental start day.",
            endDay:
                {
                    required:"Please enter rental end day.",
                    greaterThan:"Rental end day must be same day or later than start day!"
                }
        }
    });
</script>
</body>
</html>