<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../css/styles.css"/>
    <title>Admin rental agreement list</title>

</head>

<body>
<div class="container">
    <div class="row">
        <h2>Rental Agreements</h2>

        <table class="table table-striped">
            <tr>
                <th>Rental</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Bike</th>
                <th>Model</th>
                <th>Start</th>
                <th>End</th>
                <th>Status</th>



                <th></th>

            </tr>
            <tr th:each = "rental : ${rentals}">
                <td th:text="${rental.rentalId}">Rental</td>
                <td th:text="${rental.lastName}">Last Name</td>
                <td th:text="${rental.firstName}">First Name</td>
                <td th:text="${rental.bike.manufacturer}">Bike</td>
                <td th:text="${rental.bike.model}">Model</td>
                <td th:text="${#dates.format(rental.startDay, 'dd-MM-yyyy')}">Start</td>
                <td th:text="${#dates.format(rental.endDay, 'dd-MM-yyyy')}">End</td>
                <td th:text="${rental.status.statusName}">Status</td>
                <td><a th:href="@{/admin/editrental/{id}(id=${rental.rentalId})}" class="btn btn-warning">Edit</a></td>

            </tr>
        </table>

        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-danger"/>
        </form>
    </div>
    <div class="row" style="margin-top: 20px">
        <a href="/admin/home" class="btn btn-primary">Admin home</a>
    </div>



</div>
</body>
</html>